
   
.Button {
    font-size: 1rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #2142b2 !important;
  }
  
  .Button:active {
    background-color: #2142b2 !important;
  }
  
  .Button:focus {
    background-color: #2142b2;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 100%;
  }
  
  .Bright {
    background-color: #0275d8;
    color: #ffffff;
  }