.Post {
    background-color: #111827;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin:0 12px 16px 12px;
    text-align: center;
  }
  
.Pill {
  background: #2BBBAD;
}

.Link {
  color: white;
}

.Link h2 {
  margin-bottom: 0;
}

  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #f85032;
  }
  
  /* .Heart:hover {
    color: #2142b2;
  } */
  
  .HeartOutline:hover {
    color: #f85032;
  }