body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {color: white;}

a:hover {
  color: #fff
  !important;
  transition: color ease-in-out 0.3s;
  text-decoration: none;
}
